.carousel_area{
    width: 940px;
    height: 444px;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.4));
}

.arrow{
    position: absolute;
    width: 0px;
    height: 0px;
    top: -15px;
    left: 45px;
    border: 12px solid white;
    border-top: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}

.slider{
    -webkit-appearance: none;
    position:absolute;
    left:39px;
    right:39px;
    top:0;
    bottom:0;
    background-color:#00000033;
    border-radius: 3px;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance:none;
    appearance: none;
    /* position:absolute; */
    /* left:0; */
    background:#233c5166;
    height:18px;
    width:60px;
    border-radius:3px;
    cursor:pointer;
}

.slider::-webkit-slider-thumb:hover{
    background-color:#417a9b;
}

.slider::-moz-range-thumb{
    position:absolute;
    left:0;
    background-color:#233c5166;
    height:18px;
    width:60px;
    border-radius:0px;
    cursor:pointer;
}