/* Main===============================================================================*/
.box {
    padding: 16px;
    margin-bottom: 8px;
    margin-top: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.5) 100%);
}

.sharedBtn {
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #67c1f5 !important;
    background: rgba( 103, 193, 245, 0.2 );
    margin-right: 3px;
}

.sharedBtn2 {
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #67c1f5 !important;
    background: rgba( 103, 193, 245, 0.2 );
    margin-right: 3px;
}

.sharedBtn:hover {
    background: rgb(103, 193, 245)
}

.sharedBtn2:hover {
    background: rgba(103, 193, 245, 0.8)
}

.btn_medium {
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px
}

.span {
    border-radius: 2px;
    display: block;
    background: transparent;
}

.span:hover {
    color:#ffffff;
}


.icol16 {
    background: url(https://store.akamai.steamstatic.com/public/shared/images/buttons/icons_16.png?v=5);
    background-position-x: -256px;
    background-position-y: 0px;
    margin: 7px 0;
    vertical-align: top;
    display: inline-block;
    width: 16px;
    height: 16px;
}

/* Universal background */
.background {
    /* display: none; */
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 900;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* {shared Btn===============================================================================} */

.newModal {
    position: fixed;
    z-index: 1000;
    max-width: 1442px;
    left: 511px;
    top: 184px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    min-width: 500px;
    background: radial-gradient(circle at top left, rgba(74, 81, 92, 0.4) 0%, rgba(75, 81, 92, 0) 60%), #25282e;
}

.top_bar {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #00ccff, #3366ff);
}

.header {
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-weight: 300;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    flex-shrink: 0; 
}

.close {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjVBREZBRDlBNzdCNzExRTI5ODAzRUE3MDU0Mzk5MjM5IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjVBREZBRDlCNzdCNzExRTI5ODAzRUE3MDU0Mzk5MjM5Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NUFERkFEOTg3N0I3MTFFMjk4MDNFQTcwNTQzOTkyMzkiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6NUFERkFEOTk3N0I3MTFFMjk4MDNFQTcwNTQzOTkyMzkiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4iulRzAAABPElEQVR42mI8cuQIAyWABUqbAXEylH0fiDtwqI8FYhsoewEQH4cZcBaI64DYG8p/AVWADDyAeD4QMwPxJiA+BRJkgkr+BeJoIL4D5U8DYi0kzepAvAKq+TJU7V9kA0DgIxD7Q2lOIF4NpfmBeAuUfg3EPkD8BaaJCc2Z14A4EcoGuWAC1NkqQPwLqvkRsgYmLAG1HoiboOw0IA6EshNh/iZkAAjUA/FBJP5KIF6GTSEuAwygUQsDflAxogwQAuJ10AAExcpNKHsjEIsSMoAZGl2K0EALBeIIKFsOKSpxGtACxK5Qdi4QX4DiAqiYExB34TIgBIgrkAJtFpLcdKgYCBQBcRRMghGamUBxfhKIeaB+NkFOLFAAkjsDTZXfgdgK5DpYXvBGiqYpWDQzQMVAYZKDlDcuMFKanQECDAAqw0LA+GRiqAAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    float: right;
    margin-top: 9px;
    margin-right: 9px;
    height: 16px;
    width: 16px;
    opacity: 0.7;
}

.title {
    padding: 32px 32px 0px 32px;
    display: block;
    font-family: "Motiva Sans", Sans-serif !important;
}

.content_border {
    padding: 0 1px 1px 1px;
    display: flex;
}

.content {
    width: 100%;
    overflow: auto;
    word-wrap: break-word;
    padding: 32px;
    font-size: 14px;
    color: #acb2b8;
    position: relative;
    max-height: 594px;
}

.shareModal {
    display: block;
    width: 290px;
}

.share {
    display: inline-block;
    margin-right: 6px;
    text-decoration: none;
    color: #ffffff;
}

.share_img {
    height: 48px;
    width: 48px;
    -webkit-user-drag: none;
    border: none;
}

.share_dialog {
    margin-top: 20px;
    margin-right: 12px;
}

.share_dialog_value {
    font-family: "Motiva Sans", Sans-serif;
    font-size: 16px;
    width: 100%;
    background-color: unset;
    color: white;
    padding: 4px;
    border: 1px solid #333333;
    box-shadow: inset 2px 2px 10px rgb(0 0 0 / 40%);
    outline: none;
    resize: none;
}

.share_dialog_results {
    margin-top: 10px;
    text-align: center;
    min-height: 24px;
}

.newmodal_buttons {
    text-align: right;
}

.btn_grey_steamui {
    margin-left: 12px;
    margin-top: 12px;
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #dfe3e6;
    background: transparent;
}

.btn_grey_steamui:hover {
    text-decoration: none !important;
    color: #fff;
}

.btn_grey_steamui_span {
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 2px;
    display: block;
    background: linear-gradient( to right, #32363f 5%, #32363f 95%);
    box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
    transition: all 0.2s ease-out;
}

.btn_grey_steamui_span:hover {
    text-decoration: none !important;
    color: #fff;
    background: rgb(120, 120, 120)
}

/* EmbedBtn=============================================================================== */

.embedModal {
    position: fixed;
    z-index: 1000;
    max-width: 1442px;
    left: 405px;
    top: 102px;
    font-family: "Motiva Sans", Sans-serif !important;
    font-weight: normal;
    min-width: 500px;
    background: radial-gradient(circle at top left, rgba(74, 81, 92, 0.4) 0%, rgba(75, 81, 92, 0) 60%), #25282e;
}

.embed_modal {
    display: block;
}

.widget_create {
    max-width: 646px;
}

.paragraph1 {
    margin: 0 0 15px 0;
    font-size: 14px;
    font-family: "Motiva Sans", Sans-serif !important;
}

.paragraph2 {
    margin: 0 0 3px 0;
    font-size: 14px;
    font-family: "Motiva Sans", Sans-serif !important;
}

.w_options {
    margin-bottom: 15px;
}

.w_option {
    padding: 12px 12px;
    margin: 3px 0 0 0;
    background-color: rgba(59, 63, 72, 0.5);
    border-radius: 3px;
    color: #dfe3e6;
}

.app_embed_dialog_description {
    background-color: rgba( 0, 0, 0, 0.2 );
    border-radius: 3px;
    border: 1px solid #000;
    box-shadow: 1px 1px 0 0 rgb(91 132 181 / 20%);
    color: #C6D4DF;
    margin-bottom: 6px;
    outline: none;
    padding: 4px 6px;
    display: block;
    /* width: calc(100% - 12px); */
    height: 100px;
}

.w_text {
    width: 100%;
    height: 80px;
    line-height: 15px;
    margin: 0 0 15px 0;
    background-color: transparent;
    border: none;
    color: #8f98a0;
}

.w_text::placeholder {
    font-size: 13px;
}

.btn_container {
    text-align: right;
}

.btn_blue {
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #67c1f5 !important;
    background: rgba( 103, 193, 245, 0.2 );
}

.btn_medium {
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 2px;
    display: block;
    background: transparent;
}

.btn_blue:hover {
    text-decoration: none !important;
    color: #fff !important;
    background: linear-gradient( -60deg, #417a9b 5%,#67c1f5 95%);
}

/* Create Widget===============================================================================  */

.createModal {
    position: fixed;
    z-index: 1000;
    max-width: 1442px;
    left: 405px;
    top: 102px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    min-width: 500px;
    background: radial-gradient(circle at top left, rgba(74, 81, 92, 0.4) 0%, rgba(75, 81, 92, 0) 60%), #25282e;
}

.widget_container {
    margin-bottom: 15px;
}

.small {
    margin: 0 0 3px 0;
    font-size: 14px;
}

.widget_text {
    width: 100%;
    height: 80px;
    font-size: 13px;
    line-height: 15px;
    margin: 0 0 15px 0;
    background-color: transparent;
    border: none;
    color: #8f98a0;
}


/* Report Modal===============================================================================  */
.reportModal {
    position: fixed;
    z-index: 1000;
    max-width: 1442px;
    left: 421px;
    top: 12px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    min-width: 500px;
    background: radial-gradient(circle at top left, rgba(74, 81, 92, 0.4) 0%, rgba(75, 81, 92, 0) 60%), #25282e;
}

.app_report_dialog {
    font-size: 14px;
    max-width: 600px;
    width: 100%;
}

.app_report_dialog_intro {
    margin-bottom: 20px;
    font-size: 14px;
    word-wrap: break-word;
    color: #acb2b8;
}

.app_report_dialog_option {
    margin-bottom: 16px;
    line-height: 20px;
    font-size: 14px;
    color: #acb2b8;
}

.app_report_dialog_option_input {
    margin-top: 4px;
    float: left;
    line-height: 20px;
    font-size: 14px;
    word-wrap: break-word;
    color: #acb2b8;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}

.app_report_dialog_option_text {
    margin-left: 25px;
}

.sub {
    font-size: 12px;
    color: #777777;
}

.app_report_dialog_reason {
    background-color: rgba( 0, 0, 0, 0.2 );
    border-radius: 3px;
    border: 1px solid #000;
    box-shadow: 1px 1px 0 0 rgb(91 132 181 / 20%);
    color: #C6D4DF;
    margin-bottom: 6px;
    outline: none;
    padding: 4px 6px;
    display: block;
    width: calc(100% - 12px);
    height: 100px;
}

.app_report_dialog_dmca {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}

.green_btn {
    margin-left: 12px;
    margin-top: 12px;
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #d2efa9;
    background: transparent;
    text-shadow: 1px 1px 0px rgb(0 0 0 / 30%)
}

.green_btn:hover {
    text-decoration: none !important;
    color: #fff;
}

.green_btn_medium {
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 2px;
    display: block;
    background: linear-gradient( to right, #75b022 5%, #588a1b 95%);
}

.green_btn_medium:hover {
    background: #75b022;
}

.gray_btn {
    margin-left: 12px;
    margin-top: 12px;
    border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #dfe3e6;
    background: transparent;
}

.gray_btn:hover {
    text-decoration: none !important;
    color: #fff !important;
}

.gray_btn_medium {
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
    border-radius: 2px;
    display: block;
    background: linear-gradient( to right, #32363f 5%, #32363f 95%);
    box-shadow: 2px 2px 5px rgb(0 0 0 / 20%);
    transition: all 0.2s ease-out;
}

.gray_btn_medium:hover {
    text-decoration: none !important;
    color: #fff !important;
    background: rgb(120, 120, 120)
}

.here {
    text-decoration: none;
    color: #ffffff;
}

.here:hover {
    text-decoration: none;
    color: #66c0f4;
}
