.events {
    display: block;
    height: auto;
    margin-bottom: 8px;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    min-width: 200px;
    background-image: radial-gradient(ellipse at top left, #494a3e, #2a2823);
    box-shadow: 2px 2px 10px rgb(0 0 0 / 40%);
    border-radius: 4px;
}

.left {
    margin-right: 8px;
    margin-bottom: 8px;
    display: block;
    height: auto;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    min-width: 200px;
    background-image: radial-gradient(ellipse at top left, #4c4f43, #25282e);
    box-shadow: 2px 2px 10px rgb(0 0 0 / 40%);
    border-radius: 4px;
    text-decoration: none;
    
}


.right {
    position: absolute;
    top: 0;
    background-color: rgba(21, 22, 25, 0);
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: background-color .24s ease-in-out;
}

.rightInner {
    margin: 20px 20px 0 20px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    color: rgba(40, 156, 255, 0);
    overflow: hidden;
    filter: blur(0px);
    user-select: none;
    text-rendering: optimizeSpeed;
    transform: scale(1);
    z-index: 2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: filter .24s 
    /* filter .24s ease-in-out, transform .24s ease-in-out, color .24s ease-in-out; */
}
#hoverId {
    transition-timing-function: ease-in-out;
}
.rightInner:hover{
    filter: blur(5px); 
}

.rightInner2 {
    margin: 10px 20px;
    font-size: 15px;
    color: rgba(26, 25, 25, 0.627);
    line-height: 20px;
    font-weight: 300;
    overflow: hidden;
    filter: blur(5px);
    user-select: none;
    text-rendering: optimizeSpeed;
    transform: scale(1);
    z-index: 2;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: filter .24s ease-in-out, transform .24s ease-in-out, color .24s ease-in-out;
}

.rightImg {
    width: 100%;
    height: auto;
    position: relative;
    left: 0px;
    transition: transform .4s ease-out;
    top: 0px;
    display: block;
}

.other {
    box-sizing: content-box;
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 0px;
    height: 61px;
    padding: 12px;
    text-align: left;
    color: rgba(255, 255, 255, .5);
    font-size: 13px;
}

.leftImg {
    width: 100%; 
    height: auto; 
    position: relative; 
    left: 0; 
    top: 0; 
    display: block;
    filter: blur(0px); 
    transition: filter .24s;
}

.leftImg:hover{
    filter: blur(5px); 
    
}

.leftDiv {
    height: 100%; 
    flex-direction: column;
    display: flex;
    filter: blur(0px); 
    transition: filter .24s;
}
.leftDiv:hover {
    filter: blur(5px);
}