@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-size: 12px;
}

html{
  background-color: #171a21;
}

div {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Helvetica", "Arial", "sans-serif"
}

*, html {
  scroll-behavior: auto;
}

::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: #1e2837;
  z-index: 12;
  overflow: visible;
}

::-webkit-scrollbar-corner {
  background: #202020;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #434953;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0,0,0,0);
  background-clip: padding-box;
  transition: background-color .32s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
