@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Helvetica", "Arial", "sans-serif";
  font-size: 12px;
}

html{
  background-color: #1e2837;
}

div {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Helvetica", "Arial", "sans-serif"
}

*, html {
  scroll-behavior: auto;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
