/* Nav bar Options========================================================== */

.store_area {
    position: absolute;
    left: 0;
    right: 0;
    top: 24px;
    height: 49px
}

.store_bg {
    background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
    box-shadow: 0 0 3px rgb(0 0 0 / 40%);
    height: 35px;
    margin: 7px 0
}

.tab {
    padding: 1px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-right: none;
    white-space: nowrap
}

.tab:hover {
    background: linear-gradient(90deg, rgba(33, 162, 255, 0.25) 0%, rgba(33, 162, 255, 0.15) 50%, rgba(50, 50, 51, 0) 100%);
    text-shadow: 0px 2px 3px rgb(0, 0, 0 / 30%);
    height: 33px
}

.span {
    color: #e5e5e5;
    font-size: 13px;
    padding-right: 10px;
    margin-right: 0px;
    background: none;
    line-height: 34px;
    text-shadow: 0px 2px 3px rgb(0 0 0 / 30%);
    padding: 0 15px;
    font-weight: bold;
    display: block
}

.profile_img {
    margin-left: -5px;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin-right: 6px;
    visibility: hidden;
}


/* searchbar====================================================================== */

.searchbar {
    background-image: none;
    background-color: #316282;
    border-radius: 3px;
    border: 1px solid rgba( 0, 0, 0, 0.3);
    box-shadow: 1px 1px 0px rgb(255 255 255 / 20%);
    color: #fff;
    margin-bottom: 0px;
    outline: none;
    height: 27px;
    padding: 0px 6px;
    width: auto;
    position: relative;
    z-index: 150;
    cursor: text
}

.searchbar:hover {
    background-image: none;
    border: 1px solid #4c9acc;
    box-shadow: 1px 1px 0px rgb(255 255 255 / 0%)
}

.searchbox {
    font-size: 14px;
    margin-top: 1px;
    text-shadow: 1px 1px 0px rgb(255 255 255 / 10%);
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-style: italic;
    border: none;
    background-color: transparent;
    margin-left: 8px;
    width: calc( 100% - 25px - 8px );
    outline: none;
    line-height: 26px;
}

.searchbox::placeholder {
    color: black;
}

.search_link {
    position: absolute;
    right: 2px;
    top: 0;
}

.search_link:hover {
    text-decoration: none;
    color: #66c0f4;
}

.search_link_img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 1px;
    right: -1px;
    background-image: url(https://store.akamai.steamstatic.com/public/images/v6/search_icon_btn.png);
}

.search_link_img:hover {
    background-image: url(https://store.akamai.steamstatic.com/public/images/v6/search_icon_btn.png);
}


/* Dropdown======================================================================= */
.popup_block {
    background: linear-gradient(90deg, rgba(33, 162, 255, 0.1) 1.89%, rgba(50, 50, 51, 0) 50%), linear-gradient(180deg, #575860 11.6%, #3A4852 54.73%, #2C2D34 100%);
    padding: 8px 5px 8px 5px;
    min-width: 167px;
    display: flex;
    flex-direction: column;
}

.popup_menu {
    padding: 5px 12px;
    color: #b8b6b4;
    text-transform: none;
    font-family: Motiva Sans, Arial, Helvectica, Verdana, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    cursor: pointer;
}

.popup_menu_item {
    text-shadow: 0px 2px 3px rgb(0 0 0 / 30%);
    width: fit-content;
    border-bottom: 2px solid #ffffff00;
    padding: 3px 1px 2px 1px;
    margin: 0px 10px 3px 13px;
    transition-property: border;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup_menu_item:hover {
    background-color: #212d3d00;
    color: #fff;
    border-bottom: 2px solid #ffffffff;
    transition-property: border, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.popup_body {
    padding-top: 0;
    padding-bottom: 20px;
    width: 930px 
}

.popup_menu_twocol_new {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.popup_menu_browse {
    display: flex;
    flex-direction: column;
    min-width: 0
}

.popup_menu_subheader {
    padding: 5px 5px 10px 2px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-size: 11px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    margin-top: 16px;
    margin-bottom: 0px;
    margin-left: 14px;
    margin-right: 13px;
    font-variant: small-caps;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-size: 11px;
    color: #2EBFFF;
    text-shadow: 0px 2px 3px rgb(0 0 0 / 30%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.popup_menu_mainheader {
    padding: 5px 5px 10px 2px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-size: 11px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 800;
    margin-top: 16px;
    margin-bottom: 0px;
    margin-left: 14px;
    margin-right: 13px;
    font-variant: small-caps;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-size: 11px;
    color: #2EBFFF;
    text-shadow: 0px 2px 3px rgb(0 0 0 / 30%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.popup_menu_items {
    padding: 3px 1px;
    margin: 0px 10px 3px 14px;
    transition-property: border;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    white-space: normal;
    font-size: 13px;
    text-shadow: 0px 2px 3px rgb(0 0 0/ 30%);
    width: fit-content;
    color: #D8D8D8;
    cursor: pointer;
}

.popup_menu_items:hover {
    background-color: #212d3d00;
    color: #fff;
    border-bottom: 2px solid #ffffffff;
    transition-property: border, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}


/* Categories================================================================= */
.popup_menu_leftborder {
    margin-left: 5px;
    border-left: 1px solid #333333;
    padding-left: 5px;
}


.reduced_vspace {
    margin-bottom: -21px;
    padding: 5px 5px 10px 2px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    font-weight: 800;
    font-size: 11px;
    margin-left: 14px;
    margin-right: 13px;
    font-variant: small-caps;
    font-family: "Motiva Sans", Sans-serif;
    margin-top: 16px;
    color: #2EBFFF;
    text-shadow: 0px 2px 3px rgb(0 0 0 / 30%)
}

.popup_menu_item3 {
    margin-left: -2px;
    border-bottom: 2px solid #ffffff00;
    color: #D8D8D8;
    width: fit-content;
    padding-bottom: 0px;
    margin-bottom: -4px;
    padding-top: 3px;
    transition-property: border, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    padding: 3px 1px;
    font-size: 13px;
    font-variant: none;
    text-transform: none;
    letter-spacing: 0.0em;
    text-shadow: 0px 2px 3px rgb(0 0 0 / 30%);
}

.popup_menu_item3:hover {
    background-color: #212d3d00;
    color: #fff;
    border-bottom: 2px solid #ffffffff;
    transition-property: border, color;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}


.popup_menu_items4 {
    border-bottom: 2px solid #ffffff00;
    padding: 3px 1px;
    margin: 0px 10px 3px 14px;
    transition-property: border;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    white-space: normal;
    font-size: 13px;
    text-shadow: 0px 2px 3px rgb(0 0 0 / 30%);
    width: fit-content;
    color: #D8D8D8;
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
    line-height: normal;
    text-align: left;
    text-transform: none;
    font-family: Motiva Sans, Arial, Helvectica, Verdana, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

.popup_menu_rightborder {
    margin-left: 5px;
    border-left: 1px solid #333333;
    padding-left: 5px;
    min-width: 19%
}

.spacer {
    height: 8px;
    content: ' ';
    flex: 1;
}

