.slider{
    -webkit-appearance: none;
    position:absolute;
    left:39px;
    right:39px;
    top:0;
    bottom:0;
    background-color:#00000033;
    border-radius: 3px;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance:none;
    appearance: none;
    /* position:absolute; */
    /* left:0; */
    background:#00000080;
    height:18px;
    width:60px;
    border-radius:3px;
    cursor:pointer;
}

.slider::-webkit-slider-thumb:hover{
    background-color:#417a9b;
}

.slider::-moz-range-thumb{
    position:absolute;
    left:0;
    background-color:#233c5166;
    height:18px;
    width:60px;
    border-radius:0px;
    cursor:pointer;
}

